*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}
body{
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 20px;
  position: relative;
  
}

.header{

  height: 95vh !important;

  position: relative;
  display: block;

  
}

.background{
  background-image: url(./img/clrBanner.png);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;

}
a{
 
}
/*icon-style*/
.fa-solid, .fas {
  font-weight: 900;
  font-size: 12px;
  padding-left: 3px;
}
#mainNav{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(32, 34, 37,.7);
  height: 100px;
}
.container{
  display: flex;
  align-items: center;
}
#sth{
  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}
.logo img {
  width: 132px;
  height: 64px;
}
img.nav-logo {
  border-radius: 1px;
  box-shadow: none;
  transition: all .4s;
  border: none;
}

#mnMenu { 
  display: block;
  color: rgb(255,255,255);
  background-color: rgb(54, 57, 63);
  padding: 10px 20px;

  font-weight: 500;
  border-radius: 6px;
  box-shadow: 0px 1px 8px 2px rgba(41 124 68 / 30%);/*0px 2px 8px 2px rgb(59 165 93 / 30%);*/
  transition: all .4s;

}
#mnMenu:hover{ 
  color: #fff;
  background-color: rgb(59, 165, 93);
  border-radius: 12px;
}
   



.container2 {
  align-items: center;
  display: flex;
  
      
}   
.btn-1 {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  line-height: 53px;

  position: relative;
  text-decoration: none;
  width: 118px;
  text-align: center;
  background: #3ba55d;
  font-weight: 500;
      
}
   
.btn-1 svg {     
  height: 54px;
  left: 0;
  position: absolute;
  top: 0;
  width: 118px;
}

.btn-1 rect {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  transition: all 0.35s linear;
  
  }
  
.btn-1:hover {
  background: #3ba55d;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  text-decoration: none;
  }
.btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }
  
a.about {
  box-sizing: border-box;
  position: relative;
}
ul.dropdown-menu {
  position: absolute;
  background: rgb(54, 57, 63);
  /* box-sizing: border-box; */
  width: 209px;
  top: 82px;
  transform-origin: top;
  transition: 0.3s;
  transform: scaleY(0);
  opacity: 0;
  z-index: 1000;
  box-shadow: 1px 1px 2px -1px #e6ede8;

}
ul.dropdown-menu li {
  
  box-sizing: border-box;
  
  text-align: left;
  
  background-color:rgb(54, 57, 63) ;
  
}

.dropdown:hover ul.dropdown-menu{
  transform: scaleY(1);
  opacity: 100%;
 

}

ul.dropdown-menu li a{
  display: block;
  padding: 20px 0px 20px 20px;
  color: aquamarine;
}
ul.dropdown-menu li:hover{
  background-color: rgba(228, 240, 233, .4);
}


/*animations*/

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0);
    /*value 0>It will look exactly the way it looks right now..*/ } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0);}
}

/*header text*/
.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* text-shadow: 1px 1px 1px #816666; */
  
}


  .heading-primary {
    color: #fff;
    backface-visibility: hidden;
    margin-bottom: 60px; }


    .heading-primary--main {
      display: block;
     
      font-size: 66px;
      font-weight: 700;
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      line-height: 75px;
      text-shadow: 1px 24px 40px black;
      }
      /* @media screen and (max-width: 1257px) {
      .heading-primary--main {
            display: block;
            font-size: 7vh;
            font-weight: 400;
            animation-name: moveInLeft;
            animation-duration: 1s;
            animation-timing-function: ease-out;
            line-height: 75px;
            text-shadow: 1px 24px 40px black;
            
      }
    } */


    .heading-primary--sub {
      display: block;
    font-size: 25px;
    font-weight: 300;
    animation: moveInRight 1s ease-out;
    margin-top: 33px;
    line-height: 34px;
 }



 /*learn more button*/
 div#container3{
  position: relative;
  top: -34px;

 }
 button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more {
  width: 14rem;
  height: auto;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #3ba55d;
  border-radius: 1.625rem;
  box-shadow: 0px 0px 3px 1px white;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 .85rem;
  color: #fefeff;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}

.quoteMark{
  font-size: 33px;
  font-family: sans-serif;
  font-weight: 600;
  padding: 0px 4px;
}
   
/*focus area*/
section.focus-area {
  height: 800px;
  position: relative;
  /* background-color: rgb(192 201 225); */
  /* background-size: cover; */
  /* background-image: url(https://t3.ftcdn.net/jpg/03/41/94/36/360_F_341943624_WxC26UAWLx0VLcUaPqaOZUGpDyo07N5T.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: red; */
  background-image: linear-gradient(to right bottom, rgb(46 51 62 / 58%), rgb(54 57 63)),url(./img/focus-background.jpg);
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.focus-container {
  padding: 40px;
  position: relative;
  max-width: 1173px;
  margin: auto;
  z-index: 1200;
  top: -60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #aeafb53b;
  border-radius: 20px;
}
h1.focus-header {
  margin-top: 44px;
  text-align: center;
  font-size: 81px;
  font-family: fantasy;
  font-weight: 400;
  color: #ffffff;
  /* background-image: url(https://images.saatchiart.com/saatchi/759586/art/3150542/2220433-HSC00001-7.jpg); */
  background-clip: text;
  /* -webkit-background-clip: text; */
  /* background-position: top; */
}
.focus-img {
  margin-top: 17px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

img {
  /* height: 92%; */
  /* margin-left: 25px; */
  /* margin-bottom: 25px; */
  width: 22%;
  border-radius: 5px;
  box-shadow: 1px 2px 32px 7px rgb(210 212 219 / 28%);
  transition: all .4s;
  border: 2px solid #3c3939;
}
.last-image {
  margin-top: 25px;
}
.last-image img {
  width: 59%;
  border-radius: 5px;
  box-shadow: 1px 2px 32px 7px rgb(96 98 106);
}
img:hover{
  transform: scale(102%);
  cursor: pointer;
}
img#midImg {
  width: 50%;
}


/*featured articles*/
.featured-articles {
  margin: auto;
  max-width: 1140px;
}

/* .featred-articles-header {
  margin: 150px 0 10px 0;
  font-size: 80px;
  font-family: "Merriweather",sans-serif;
  text-align: center;
} */

#articlesHeader {
  margin: 150px 0 24px 0;
  font-size: 95px;
  font-family: Merriweather;
  text-align: center;
  line-height: 1.2;
  font-weight: 500;
}





.articles {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  margin-right: -15px;
  margin-left: -15px;
}
.articles-text {
  flex: 0 0 62.66667%;
  max-width: 66.66667%;
  padding-top: 20px;
}
h1#articles-topic {
  font-size: 50px;
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.2;
}
p.articles-main-text {
  margin: 1.5rem 0;
  font-size: 18px;
  font-weight: 500;
}
img.img {
 
  width: 365px;
}
.articlesimg {
  margin-left: 50px;
}

element.style {
}
a.read-more-button {
    display: inline-block;
    background: #e56a12;
    color: white;
    font-family: monospace;
    padding: 10px;
    position: relative;
    transition: .3s all;
    /* font-weight: 900; */
}
a.read-more-button:hover {
  font-weight: 900;
  /* letter-spacing: .5px; */
}

a.read-more-button::after {
  content: '';
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
  background: #dee9e966;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transition: .3s all;
}
a.read-more-button:hover::after {
  content: '';
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
  background: #f4f5f51c;
  top: 0;
  left: 0;
  transform: scaleX(1);
}



/*footer*/
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top: none;
  border-right: none;
  border-left: none;
  opacity: 0.5;
  padding: 10px;
  display: block;
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.youtube:hover
{
  background-color:#f00
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.instagram:hover
{
  background:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
.footer-about {
  max-width: 540px;
  text-align: justify;
}
.footer-holder {
  display: flex;
  margin: auto;
  max-width: 1270px;
  justify-content: space-between;
}
.condition-text {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}